{% block sidebar %}

        <style>
                .card{
                    box-shadow: 0 16px 48px #E3E7EB;
                }
            
        </style>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 float-right ">
        <div class="card my-3">
                <h5 class="card-header">About Us</h5>
            <div class="card-body">
                <p class="card-text">Establishing a strong link between present students, faculties and alumni to improve the overall quality of the institution, building a knowledge sharing platform in the form of a blog where users can post blogs regarding academics, cultural and placement activities.To make an interactive web application live i.e. hosting on an online server by making it accessible to any user on any platform.
                 </p>
                <a href="http://heyeddard.pythonanywhere.com/"
                class="btn btn-danger">Know more!</a>
            </div>
        </div>
        </div>
        {% endblock sidebar %}